extends ../../layout/default.pug

block main 
    h1 Danh sách sản phẩm
    .card.mb-3 
        .card-header
            h5.card-title Bộ lọc và tìm kiếm
        .card-body
            .row
                .col-6
                    each item in filterStatus
                        button.btn.btn-sm.ml-1.btn-outline-success.ms-1(
                            class=`${item.class}`
                            button-status=item.status                   
                        ) #{item.name}
                .col-6 
                    form(id="form-search")
                        .input-group
                            input(
                                type="text"
                                name="keyword"
                                placeholder="Tìm kiếm"
                                class="form-control"
                                value=keyword
                            )
                            .input-group-append
                                button(
                                    class="btn btn-success"
                                    type="submit"
                                ) Tìm kiếm
                            

    .card.mb-3
        .card-header
            h5.card-title Danh sách sản phẩm
        .card-body 
            .table-responsive
                table.table.table-hover.table-sm 
                    thead 
                        tr
                            th STT
                            th Hình ảnh
                            th Tên sản phẩm
                            th Giá
                            th Giảm giá
                            th Trạng thái
                            th Hành động
                    tbody
                        each item, index in products  
                            tr
                                td #{index + 1}
                                td 
                                    img.img-thumbnail(src=item.thumbnail, alt=item.title width="100px" height="auto")
                                td #{item.title}
                                td #{item.price} $
                                td #{item.discountPercentage} %
                                td
                                    if item.status == 'active'
                                        a(href="#" class="badge bg-success") Hoạt động
                                    else
                                        a(href="#" class="badge bg-danger") Không hoạt động
                                td                                
                                    button(
                                    class=`btn btn-warning btn-sm margin-right: 8px`,
                                    style="margin-right: 8px"
                                    ) Sửa        
                                    button(class=`btn btn-danger btn-sm`) Xóa
