extends ../../layout/default.pug

block main
    h1(class="mb-4") Thêm nhóm quyền hạn
    
    form(
        action=`${prefixAdmin}/roles/create`
        method="POST"
    )
        div(class="form-group")
            label(for="title") Tiêu đề
            input(
                type="text" 
                name="title" 
                id="title" 
                class="form-control"
            )
        div(class="form-group")
            label(for="description") Mô tả
            textarea(
                name="description"
                id="description" 
                class="form-control"
                rows="5"
            )
        div(
            class="form-group"
            style="display: flex; justify-content: flex-end; margin-top: 10px;"
        )
            button(
                type="submit" 
                class="btn btn-primary"
            ) Thêm nhóm quyền hạn

    