extends ../../layout/default.pug

include ../../mixins/showalert.pug

block main
    h1(class="mb-4") Nhóm quyền hạn

    +alertSuccess(5000)
    +alertError(5000)
    .card.mb-3
        .card-header
            .row
                .col-8
                    h5.card-title Danh sách quyền hạn
                .col-4.text-end
                    a(
                        href=`${prefixAdmin}/roles/create`
                        class="btn btn-sm btn-outline-success"
                    ) + Thêm quyền hạn

        .card-body
            table(class="table table-hover table-sm")
                thead
                    tr
                        th STT
                        th Tiêu đề
                        th Mô tả
                        th Hành động
                tbody
                    each record, index in records
                        tr
                            td #{index + 1}
                            td #{record.title}
                            td #{record.description}
                            td
                                a(href=`${prefixAdmin}/roles/detail/${record._id}`, class="btn btn-sm btn-secondary" style="margin-right: 8px") Chi tiết
                                a(href=`${prefixAdmin}/roles/edit/${record._id}`, class="btn btn-sm btn-primary" style="margin-right: 8px") Sửa
                                button(
                                    class="btn btn-sm btn-danger" 
                                    style="margin-right: 8px" 
                                    data-id=record._id 
                                    button-delete
                                ) Xóa



    form(
        action=""
        method="POST"
        id="form-delete"
        data-path=`${prefixAdmin}/roles/delete`
    )


    script(src="/admin/js/roles.js") 