extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                +box-head('Danh sách sản phẩm')

        .row
            each item in products
                .col-sm-6.col-md-4.mb-3 
                    .card.product-item.h-100
                        .inner-image
                            img.card-img-top(src=item.thumbnail, alt=item.title)
                        .card-body.inner-content
                            h3.card-title.inner-title= item.title
                            p.inner-price-now.mb-1= item.price + " $"
                            p.inner-price-old.mb-1= item.oldPrice.toFixed(2) + " $"
                            p.inner-discount.mb-0= item.discountPercentage + "%"